div{
    width: 400px;
    background-color: blue;
    color: white;
    font-size: 30px;
    margin: 20px;
}

.div1{
    text-align: start;
}
.div2{
    text-align: end;
}
.div3{
    text-align: center;
}